:root {
    --primary: rgba(224,210,26,1);
    --secondary: rgba(255,16,16,1);
    --white: rgb(255,250,240);
    --black: rgb(8,8,8);
    --lessBlack: rgb(21,21,21);
}

.language-sol {
    width: 1400px;
    margin: auto !important;
    background-color: var(--lessBlack) !important;
}