.about-us-container {
    color: var(--black);
    height: 70vh;
    display: flex;
    flex-flow: row;
    flex-basis: auto;
    /* flex-wrap: wrap; */
    gap: 20px 20px;
    margin-top: 300px;
}

.about-us-left {
    flex-basis: 70%;
    display: flex;
    align-items: center;
    width: 50%;
    position: relative;
}

.about-us-right {
    display: flex;
    align-items: center;
}

.about-us-title {
    font-size: 5em;
    padding-left: 6.8vw;
    opacity: 1 !important;
}

.about-us-text {
    padding: 0 100px;
    line-height: 40px;
    width: 1vw;
}

.about-us-logo {
    width: 28vw;
    opacity: 0.25;
    position: absolute;
    left: 50px;
    z-index: -1;
    /* top: 35vh; */
}

.about-fanft-container {
    color: var(--black);
    height: 800px;
    display: flex;
    flex-flow: row;
    flex-basis: auto;
    /* flex-wrap: wrap; */
    gap: 20px 20px;
}

.about-fanft-left {
    flex-basis: 70%;
    display: flex;
    align-items: center;
    width: 50%;
}

.about-fanft-right {
    display: flex;
    align-items: center;
}

.about-fanft-title {
    font-size: 5em !important;
    padding-right: 10rem !important;
}

.about-fanft-text {
    padding: 0 100px;
    line-height: 40px;
}

.about-fanft-logo {
    width: 28vw;
    opacity: 0.25;
    position: absolute;
    right: 50px;
    z-index: -1;
}

.reveal {
    position: absolute;
    transform: translateX(-10vw);
    transition: 1.5s all ease;
    height: 1%;
}

.reveal.active {
    transform: translateX(33vw);
    transform: scale(12);
    /* opacity: 0.25; */
    /* left: 70px; */
}

.reveal-right {
    position: absolute;
    transform: translateX(40vw);
    opacity: 0;
    transition: 1.5s all ease;
}

.reveal-right.active {
    transform: translateX(116vw);
    opacity: 0.15;
    left: 4vw;
}

.reveal-text {
    position: absolute;
    transform: translateX(20vw);
    transition: 1.5s all ease;
    font-size: xx-small;
    width: 65%;
    opacity: 0;
}

.reveal-text.active {
    transform: translateX(-3vw);
    color: var(--black);
    font-size: 5em;
    opacity: 1;
    right: 13vw;
    width: 65%;
    padding-top: 15vh;
}

.test-hello {
    color: var(--black);
}

.fan-card-container {
    /* border: 2px solid var(--black); */
    width: 28vw;
    height: 40vh;
}

.fan-display-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 15vh 0;
}

.fan-img {
    width: 25vw;
    border: 4px ridge var(--primary);
}

.main-title {
    font-size: 8rem;
    margin-bottom: 10vh;
    color: var(--black);
    font-weight: 600;
}

.title-container {
    height: 100vh;
    /* margin-top: 20vh; */
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    position: inherit;
}

.title-logo {
    opacity: 0.25;
    position: absolute;
    top: 16vh;
    margin: auto;
    width: 450px;
}

.about-lottery-container {
    color: var(--black);
    height: 1000px;
    display: flex;
    flex-flow: row;
    flex-basis: auto;
    /* flex-wrap: wrap; */
    gap: 20px 20px;
}

.about-lottery-left {
    flex-basis: 70%;
    display: flex;
    align-items: center;
    width: 50%;
}

.about-lottery-right {
    display: flex;
    align-items: center;
}

.about-lottery-title {
    font-size: 80px;
    padding-left: 100px;
}

.about-lottery-text {
    padding: 0 100px;
    line-height: 40px;
}

.about-lottery-logo {
    width: 28vw;
    opacity: 0.25;
    position: absolute;
    left: 50px;
    z-index: -1;
}

.faq-container-bottom {
    background-color: var(--secondWhite);
    height: 150vh;
}

.faq-title {
    width: 100%;
    font-size: 3rem;
    padding: 2em;
    background-color: var(--secondWhite);
    color: var(--black);
    margin-bottom: 20vh;
}

.nft-display-container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 100%;
    flex-wrap: wrap;
    gap: 30px 40px;
    padding: 45px;
}

.previous-button {
    position: absolute;
    left: 4vw;
    margin-top: 2vh;
    height: 100px;
    opacity: .15;
}

.previous-button:hover {
    transform: scale(1.2);
    cursor: pointer;
    opacity: .25;
}

.next-button {
    position: absolute;
    right: 4vw;
    margin-top: 2vh;
    height: 100px;
    opacity: .15;
}

.next-button:hover {
    transform: scale(1.2);
    cursor: pointer;
    opacity: .25;
}

div {
    color: var(--black);
}
