.lottery-page {
    /* height: inherit; */
    padding-top: 0;
}

.lottery-title-container {
    margin-top: 20vh;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    position: inherit;
    /* height: 10vh; */
}

.lottery-card-container {
    display: flex;
    flex-flow: row;
    flex-basis: auto;
    flex-wrap: wrap;
    gap: 20px 20px;
}

.lottery-title {
    color: var(--black);
    font-size: 6rem;
    font-weight: 600;
}

.lottery-title-logo {
    width: 40vw;
    position: absolute;
    opacity: 0.2;
}
