.nav-link {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: var(--white);
    padding-bottom: 0;

}

.no-right {
    border-right: none;
}

.no-left {
    border-left: none;
}

a.nav-link {
    background: var(--white);
    max-width: 15vw;
    z-index: 10;
}

#nav-title {
    padding-right: 20px;
}

.nav-text {
    font-weight: 800;
    width: fit-content;
    color: var(--black);
}

#nav-bar {
    width: 100%;
    height: 50px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: var(--white);
}

a {
    color: inherit !important;
}

.nav-link:hover {
    cursor: pointer;
    color: var(--lessBlack) !important;
    transform: scale(1.2);
    transition: ease-in 0.35s;
    transition: ease-out 0.35s;
    border: none;
    z-index: 20;
}

.logo-nav {
    max-width: 7vw;
    /* max-height: 6.2vh; */
    z-index: 25;
}

ul {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 100px;
    margin-top: 20px;
    margin-bottom: 50px;
    padding: 15px;
}

ul li {
  list-style: none;
  /* margin: 0 20px; */
}

ul li a {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40px;
  line-height: 63px;
  background: var(--lessBlack);
  font-size: 15px;
  transition: .3s ease;
}

a span {
    font-size: small;
}

ul li a img {
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
}

ul li a img:hover::before {
    transform: scale(1.2);
    box-shadow: 0 0 15px var(--primary);
    z-index: 10;
  }

ul li a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    transition: .3s ease;
    transform: scale(.9);
    z-index: -1;
}

ul li a:hover::before {
  transform: scale(1.0);
  border-bottom: 5px solid inherit;
}

ul li a:hover {
  color: var(--primary);
  z-index: 1;
}

.image {
    opacity: 0.1;
    width: 60%;
}
