.nav-link {
    padding: 10px;
    color: var(--white);
    transition: 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--secondary);
}

.no-right {
    border-right: none;
}

.no-left {
    border-left: none;
}

a.nav-link {
    background: var(--black);
}

#nav-title {
    padding-right: 20px;
}

.nav-text {
    font-weight: 800;
}

#nav-bar {
    width: 100%;
    /* background-image: linear-gradient(to right, var(--lessBlack) 0%, var(--black) 100%); */
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
}

a {
    color: inherit !important;
}

.nav-link:hover {
    cursor: pointer;
    color: var(--lessBlack) !important;
    transform: scale(1.2);
    transition: ease-in 0.35s;
    transition: ease-out 0.35s;
    border: none;
}

.logo-nav {
    width: 7%;
    border: 2px solid var(--secondary);
    background-color: var(--black);
    /* border-radius: 50%; */
}

ul {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 100px;
    margin-top: 20px;
    margin-bottom: 50px;
    padding: 15px;
}

ul li {
  list-style: none;
  /* margin: 0 20px; */
  width: 5%;
}

ul li a {
  position: relative; 
  display: block;
  width: 100%;
  height: 60px;
  line-height: 63px;
  background: var(--lessBlack);
  font-size: 15px;
  transition: .3s ease;
}

a span {
    font-size: small;
}

ul li a img {
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
}

ul li a img:hover::before {
    transform: scale(1.2);
    box-shadow: 0 0 15px var(--primary);
    z-index: 10;
  }

ul li a::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--secondary);
  transition: .3s ease;
  transform: scale(.9);
  z-index: -1;
}

ul li a:hover::before {
  transform: scale(1.0);
  border-bottom: 5px solid inherit;
}

ul li a:hover {
  color: var(--primary);
  z-index: 1;
}

.image {
    width: 75%;
    opacity: 0.1;
}
