:root {
    --primary: rgba(224,210,26,1);
    --secondary: rgba(255,16,16,1);
    --white: rgb(255,250,240);
    --black: rgb(8,8,8);
    --blackSiena: rgb(21,21,21);
}

.nav-link {
    padding: 10px;
    color: var(--white);
    transition: 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

#nav-title {
    padding-right: 20px;
}

#nav-bar {
    width: 100%;
}

a {
    color: inherit !important;
}

.nav-link:hover {
    cursor: pointer;
    color: var(--black) !important;
    transform: scale(1.5);
}

ul {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 100px;
    margin-top: 20px;
    margin-bottom: 50px;
    padding: 15px;
}

ul li {
  list-style: none;
  margin: 0 20px;
  width: 5%;
}

ul li a {
  position: relative; 
  display: block;
  width: 100%;
  height: 60px;
  line-height: 63px;
  background: var(--blackSiena);
  /* border-radius: 50%; */
  font-size: 15px;
  transition: .3s ease;
}

a span {
    font-size: small;
}

ul li a img {
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    /* border-radius: 50%; */
    /* transform: translate(-10px, -10px); */
}

ul li a img:hover::before {
    transform: scale(1.5);
    box-shadow: 0 0 15px var(--primary);
  }

  ul li a img:hover {
    color: var(--primary);
    box-shadow: 0 0 20px var(--secondary);
    text-shadow: 0 0 10px var(--primary);
    opacity: 0.4;
  }

ul li a::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* border-radius: 50%; */
  background: var(--primary);
  transition: .3s ease;
  transform: scale(.9);
  z-index: -1;
}

ul li a:hover::before {
  transform: scale(1.1);
  box-shadow: 0 0 15px var(--primary);
}

ul li a:hover {
  color: var(--primary);
  box-shadow: 0 0 20px var(--secondary);
  text-shadow: 0 0 10px var(--primary);
}

