.countdown {
    color: var(--white);
    width: fit-content;
    margin: auto;
    padding: 10px;
    background-color: rgb(3, 28, 16);
    background-color: rgba(3, 28, 16, 0.2);
    position: sticky;
    top: 22px;
    display: flex;
    flex-flow: row;
    gap: 20px 20px;
    width: 90%;
    justify-content: space-between;
    align-items: center;
    z-index: 4;
}

#timer span,
#timer h1 {
    font-size: large !important;
    font-weight: 600;
}

.wrapper-animated {
    background: linear-gradient(to right, #6666ff, #0099ff , #00ff00, #ff3399, #6666ff);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: rainbow_animation 6s ease-in-out infinite;
    background-size: 400% 100%;
    text-align: left;
    margin-left: 75px;
    transform: translateY(-1vh);
}

@keyframes rainbow_animation {
    0%,100% {
        background-position: 0 0;
    }

    50% {
        background-position: 100% 0;
    }
}

.buttons-container {
    position: sticky;
    top: 50px;
    margin-right: 75px;
}
