.countdown {
    color: var(--black);
    width: 500px;
    margin: 0 auto 20px auto;
    padding: 10px;
    background: var(--primary);
    background: linear-gradient(180deg, var(--primary) 3%, var(--secondary) 74%);
    animation: colorChange 2s infinite alternate;
}

@keyframes colorChange {
    to { color: var(--white); }
}