.countdown {
    margin: 8% auto;
    padding: 10px;
    position: sticky;
    top: 90px;
    display: flex;
    flex-flow: row;
    width: 105%;
    justify-content: center;
    height: 20%;
    background-color: var(--white);
    z-index: 4;
    align-items: center;
}

#timer {
    font-size: x-large !important;
    font-weight: 600;
}

.wrapper-animated {
    background: linear-gradient(to right, #6666ff, #0099ff , #00ff00, #ff3399, #6666ff);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: rainbow_animation 6s ease-in-out infinite;
    background-size: 400% 100%;
    padding-top: 2vh;
}

@keyframes rainbow_animation {
    0%,100% {
        background-position: 0 0;
    }

    50% {
        background-position: 100% 0;
    }
}

.buttons-container {
    position: sticky;
    top: 50px;
    margin: 0 75px;
}
