.display-3 {
    border: 1px solid var(--lessBlack);
    margin: auto;
    width: 100%;
    height: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    position: absolute;
    font-weight: 500;
    font-size: 40px;
}

.container {
    background-color: transparent;
    padding: 50px 0;
    width: 40%;
    height: 45vh;
    perspective: 1500px;
}

.inside {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.text,
.flip-list {
    background: var(--secondary);
    /* background: linear-gradient(180deg, var(--primary) 3%, var(--secondary) 74%); */
    padding: 30px;
    height: 100%;
}

.container:hover .inside {
    transform: rotateY(180deg);
}

.front,
.back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.front {
    color: var(--black);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: var(--secondary) !important;
    border: 5px groove var(--black);
    cursor: pointer;
}
    /* // NEED TO FIX THE POSITION OF THE LOGO */
.front img {
    z-index: 0;
    width: 70%;
    height: 70%;
    top: 3.5vh;
    right: 13.4vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    opacity: 0.45;
}

.back {
    color: var(--black);
    transform: rotateY(180deg);
    border: 5px groove var(--black);
}

a:hover {
    color: #0d6efd !important;
}

.flip-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: inherit;
    width: inherit;
    color: var(--white);
}

.flip-list li {
    width: inherit !important;
    padding: 5px;
    text-align: left;
    color: var(--black);
    font-size: large;
}
