:root {
    --primary: rgba(224,210,26,1);
    --secondary: rgba(255,16,16,1);
    --ternary: rgba(65,222,222,1);
    --white: rgb(255,250,240);
    --black: rgb(8,8,8);
    --lessBlack: rgb(21,21,21);
}

.display-3 {
    border: 1px solid var(--lessBlack);
    margin: auto;
    width: 100%;
    height: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    position: absolute;
}

.container {
    background-color: transparent;
    padding: 50px 0;
    width: 40%;
    height: 35vh;
    perspective: 1500px;
}

.inside {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.text {
    background: var(--primary);
    background: linear-gradient(180deg, var(--primary) 3%, var(--secondary) 74%);
    padding: 30px;
    height: 100%;
}

.container:hover .inside {
    transform: rotateY(180deg);
}

.front,
.back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.front {
    color: var(--white);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: var(--lessBlack);
}

.front img {
    z-index: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
}

.back {
    color: var(--white);
    transform: rotateY(180deg);
    border: 1px solid var(--black);
}

.link {
    margin: 10px 0 0 0;
    color:  var(--ternary) !important;
    
}

a:hover {
    color: #0d6efd !important;
}