.section-container-payment {
    background-color: var(--secondary);
    padding: 50px 0;
    margin: 0 40px;
    border-radius: 5px;
    width: 40%;
    height: 35vh;
    perspective: 1500px;
    display: flex;
    align-items: start;
}

.section-container-2 {
    width: 85%;
    height: 400px;
    margin: 100px auto;
    padding: 20px;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    gap: 20px 20px;
    background-color: var(--ternary);
    border-radius: 5px;
    /* border: 10px groove var(--lessBlack); */
    /* border-radius-top-left: 5px; */
}

.section-container-3 {
    width: 75%;
    height: 400px;
    margin: 75px 10%;
    padding: 20px;
    display: flex;
    flex-flow: row;
    gap: 20px 20px;
    background-color: var(--secondary);
    border-radius: 5px;
    /* border: 10px groove var(--lessBlack); */
    /* border-radius-top-left: 5px; */
}

.section-container-4a {
    width: 40%;
    height: 300px;
    margin: 20px auto;
    padding: 20px;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    gap: 20px 20px;
    background-color: var(--ternary);
    border-radius: 5px;
    /* border: 10px groove var(--lessBlack); */
    /* border-radius-top-left: 5px; */
}

.section-container-4b {
    width: 40%;
    height: 300px;
    margin: 20px auto;
    padding: 20px;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    gap: 20px 20px;
    background-color: var(--secondary);
    border-radius: 5px;
    /* border: 10px groove var(--lessBlack); */
    /* border-radius-top-left: 5px; */
}

.section-container-5 {
    width: 65%;
    height: 50%;
    margin: 50px 30%;
    padding: 20px;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    gap: 20px 20px;
    background-color: var(--ternary);
    border-radius: 5px;
    /* border: 10px groove var(--lessBlack); */
    /* border-radius-top-left: 5px; */
}

.payments-container {
    width: 100%;
    margin: 20px auto 60px auto;
    display: flex;
    flex-flow: row;
    gap: 20px 75px;
    justify-content: center;
}

.external-deps-container {
    width: 100%;
    margin: 20px auto 60px auto;
    display: flex;
    flex-flow: row;
    gap: 20px 55px;
    justify-content: center;
}

.one-container {
    flex-basis: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 0 50px;
}

.right-container {
    display: flex;
    flex-basis: 30%;
    align-items: center;
    justify-content: center;
}

.left-container {
    flex-basis: 50%;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    padding: 45px 0 0 0;
}
.left-container-2 {
    flex-basis: 40%;
    display: flex;
    padding: 20px 20px 0 20px;
    justify-content: center;
    height: inherit;
}

.right-container-2 {
    flex-basis: 50%;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    padding: 45px 0 0 0;
}

.left-container-4 {
    flex-basis: 40%;
    display: flex;
    /* padding: 20px 20px 0 20px; */
    justify-content: center;
    align-items: flex-start;
}

.chain-link {
    width: 150%;
    padding-left: 0;
    padding-top: 25px;
}

.right-container-2 {
    flex-basis: 50%;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    padding: 45px 0 0 0;
}

.single-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-title {
    flex-basis: 100%;
    text-align: start;
    margin: auto;
    z-index: 2;
}

.section-title-2 {
    flex-basis: 100%;
    text-align: start;
    margin: auto;
    z-index: 2;
}

.section-divider {
    z-index: 0;
    width: 20%;
    flex-basis: 34%;
    height: 3px;
    margin-top: -20px;
    margin-bottom: 0.69em;
    border-radius: 200px;
    padding: 0 15px 0 0;
    background-image: -webkit-gradient(linear,left top,right top,from(var(--secondary)),to(var(--primary)));
    background-image: linear-gradient(90deg,var(--secondary),var(--primary));
}

.section-divider-2 {
    z-index: 0;
    width: 20%;
    flex-basis: 34%;
    height: 3px;
    margin-top: -3px;
    margin-bottom: 0.69em;
    border-radius: 200px;
    padding: 0 230px 0 0;
    background-image: -webkit-gradient(linear,left top,right top,from(var(--ternary)),to(var(--primary)));
    background-image: linear-gradient(90deg,var(--ternary),var(--primary));
}

.section-divider-3 {
    z-index: 0;
    width: 20%;
    flex-basis: 34%;
    height: 3px;
    margin-top: -2px;
    margin-bottom: 0.69em;
    border-radius: 200px;
    padding: 0 750px 0 0;
    background-image: -webkit-gradient(linear,left top,right top,from(var(--secondary)),to(var(--primary)));
    background-image: linear-gradient(90deg,var(--secondary),var(--primary));
}

ol {
    flex-basis: 100%;
    padding-left: 1px;
}

.section-text-ol {
    list-style: none;
    display: flex;
    align-items: start;
    flex-direction: column;
}

.section-text-ol li {
    display: flex;
    flex-direction: row;
    /* padding: 0 0 4px 0; */
    font-weight: 600;
    font-size: larger;
    color: var(--black);
}

.section-text li {
    display: flex;
    flex-direction: row;
    padding: 0 0 4px 0;
    font-weight: 600;
    font-size: larger;
    color: var(--black);
}

.section-text-2 {
    font-weight: 600;
    font-size: large;
    text-align: left;
    color: var(--black);
    padding: 0 0 4px 0;
}

.section-image-inline {
    max-width: 8%;
    /* max-height: 15%; */
    /* display: inline-flex; */
}

.inline-logo {
    display: inline-flex;
    align-items: center;
}

.section-image-3 {
    width: 120%;
    display: flex;
    opacity: 0.25;
    /* background-color: var(--primary); */
}

.section-image-2 {
    max-width: 100%;
    max-height: 80%;
    opacity: 0.5;
}

.section-image-5 {
    max-width: 100%;
    max-height: 80%;
}

.section-image-6 {
    max-width: 100%;
    max-height: 80%;
}

.arbitrum {
    width: 55%;
}


.container-payment {
    background-color: transparent;
    padding: 50px 0;
    width: 40%;
    height: 45vh;
    perspective: 1500px;
}

.container-payment:hover .inside {
    transform: rotateY(180deg);
}

.back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

#total-cost {
    color: var(--primary);
}

.moar-pad-left {
    padding-left: 2.75vw;
}