.section-container-1 {
    width: 55%;
    height: 400px;
    margin: 75px 10%;
    padding: 20px;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    gap: 20px 20px;
    background-color: var(--secondary);
    border-radius: 5px;
    /* border: 10px groove var(--lessBlack); */
    /* border-radius-top-left: 5px; */
}

.section-container-2 {
    width: 75%;
    height: 400px;
    margin: 150px 20%;
    padding: 20px;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    gap: 20px 20px;
    background-color: var(--ternary);
    border-radius: 5px;
    /* border: 10px groove var(--lessBlack); */
    /* border-radius-top-left: 5px; */
}

.section-container-3 {
    width: 75%;
    height: 400px;
    margin: 75px 10%;
    padding: 20px;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    gap: 20px 20px;
    background-color: var(--secondary);
    border-radius: 5px;
    /* border: 10px groove var(--lessBlack); */
    /* border-radius-top-left: 5px; */
}

.section-container-4 {
    width: 50%;
    height: 300px;
    margin: 150px 20%;
    padding: 20px;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    gap: 20px 20px;
    background-color: var(--ternary);
    border-radius: 5px;
    /* border: 10px groove var(--lessBlack); */
    /* border-radius-top-left: 5px; */
}

.left-container {
    flex-basis: 60%;
    display: flex;
    flex-wrap: wrap;
    padding: 20px 20px 0 20px;
}

.right-container {
    display: flex;
    flex-basis: 30%;
    align-items: center;
    justify-content: center;
}

.left-container-2 {
    flex-basis: 40%;
    display: flex;
    padding: 20px 20px 0 20px;
    justify-content: center;
    height: inherit;
}

.right-container-2 {
    flex-basis: 50%;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    padding: 45px 0 0 0;
}

.left-container-4 {
    flex-basis: 40%;
    display: flex;
    padding: 20px 20px 0 20px;
    justify-content: center;
    align-items: flex-start;
}

.right-container-2 {
    flex-basis: 50%;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    padding: 45px 0 0 0;
}

.section-title {
    flex-basis: 100%;
    text-align: start;
    margin: auto;
    z-index: 1;
}

.section-title-2 {
    flex-basis: 100%;
    text-align: start;
    margin: auto;
    z-index: 1;
}

.section-divider {
    z-index: 0;
    width: 20%;
    flex-basis: 34%;
    height: 3px;
    margin-top: -20px;
    margin-bottom: 0.69em;
    border-radius: 200px;
    padding: 0 15px 0 0;
    background-image: -webkit-gradient(linear,left top,right top,from(var(--secondary)),to(var(--primary)));
    background-image: linear-gradient(90deg,var(--secondary),var(--primary));
}

.section-divider-2 {
    z-index: 0;
    width: 20%;
    flex-basis: 34%;
    height: 3px;
    margin-top: -3px;
    margin-bottom: 0.69em;
    border-radius: 200px;
    padding: 0 230px 0 0;
    background-image: -webkit-gradient(linear,left top,right top,from(var(--ternary)),to(var(--primary)));
    background-image: linear-gradient(90deg,var(--ternary),var(--primary));
}

.section-divider-3 {
    z-index: 0;
    width: 20%;
    flex-basis: 34%;
    height: 3px;
    margin-top: -25px;
    margin-bottom: 0.69em;
    border-radius: 200px;
    padding: 0 230px 0 0;
    background-image: -webkit-gradient(linear,left top,right top,from(var(--ternary)),to(var(--primary)));
    background-image: linear-gradient(90deg,var(--ternary),var(--primary));
}

ol {
    flex-basis: 100%;
}

.section-text li {
    display: flex;
    flex-direction: row;
    padding: 0 0 4px 0;
    font-weight: 600;
    font-size: larger;
    color: var(--black);
}

.section-text-2 {
    font-weight: 600;
    font-size: large;
    text-align: left;
    color: var(--black);
    padding: 0 0 4px 0;
}

.section-image {
    max-width: 80%;
    max-height: 80%;
    border-radius: 50%;
    display: flex;
    background-color: var(--primary);
}

.section-image-3 {
    width: 120%;
    display: flex;
    /* background-color: var(--primary); */
}

.section-image-2 {
    max-width: 100%;
    max-height: 80%;
}

.section-image-5 {
    max-width: 100%;
    max-height: 80%;
}

.arbitrum {
    width: 55%;
}