:root {
    --primary: rgba(224,210,26,1);
    --secondary: rgba(255,16,16,1);
    --ternary: rgba(65,222,222,1);
    --white: rgb(255,250,240);
    --black: rgb(8,8,8);
    --lessBlack: rgb(21,21,21);
}

.lotAgree-card-display-3 {
    width: 100%;
    background: transparent;
    border: none;
}

.lotAgree-card-container {
    margin: 100px auto;
    padding: 50px 0;
    width: 50%;
    height: fit-content;
    background: var(--primary);
    background: linear-gradient(180deg, var(--primary) 3%, var(--secondary) 74%);
    display: flex;
    flex-direction: column;
}

.lotAgree-card-text {
    background: transparent;
    margin: 2% 5%;
    text-align: left;
    color: var(--black);
    font-size: larger;
}

.list {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    margin: 0 0 0 3%;
}

.agreement {
    width: fit-content;
    text-align: left;
    font-size: medium;
}

.link {
    margin: 10px 0 0 0;
    color:  var(--ternary) !important;
    
}

a:hover {
    color: #0d6efd !important;
}
