#mint {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: var(--black);
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: var(--secondary);
    border: 1px groove var(--black);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    transition: 0.3s ease;
    margin-top: 75px;
    font-size: x-large;
    /* -webkit-animation: bounce 0.75s infinite alternate;
    -moz-animation: bounce 0.75s infinite alternate;
    animation: bounce 0.75s infinite alternate; */
}

@-webkit-keyframes bounce {
    to { -webkit-transform: scale(1.5); }
  }
  @-moz-keyframes bounce {
    to { -moz-transform: scale(1.5); }
  }
  @keyframes bounce {
    to { transform: scale(1.5); }
  }

#mint:hover {
    color: var(--secondary);
    cursor: pointer;
    background: var(--primary);
    box-shadow: 0 0 20px var(--secondary);
    transform: scale(1.5);
}

#show-more {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: var(--white);
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: var(--primary);
    border: 5px groove var(--black);
    padding: 0.375rem 0.75rem;
    font-size: 2rem;
    transition: 0.3s ease;
}
