#mint {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: white;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: #333;
    border: 1px solid black;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    transition: 0.3s ease;
}

.hover-effect:hover {
    color: black;
    cursor: pointer;
    background: radial-gradient(circle, rgba(219,206,22,1) 3%, rgba(255,238,16,1) 74%);
    box-shadow: 0 0 20px #DF00FF;
    text-shadow: 0 0 10px #ffee10;
    transform: scale(1.5);
}

#show-more {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: white;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: #333;
    border: 1px solid black;
    padding: 0.375rem 0.75rem;
    font-size: 2rem;
    transition: 0.3s ease;
}
