#mint {
    font-weight: 600;
    color: var(--black);
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    background-color: var(--secondary);
    border: 2px solid var(--black);
    padding: 0.375rem 0.75rem;
    transition: 0.3s ease;
    width: 15vw;
    font-size: x-large;
}

#mint:hover {
    color: var(--black);
    cursor: pointer;
    background: var(--primary);
    box-shadow: 0 0 20px var(--secondary);
}

#show-more {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: var(--white);
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: var(--primary);
    border: none;
    padding: 0.375rem 0.75rem;
    font-size: 2rem;
    transition: 0.3s ease;
}
