.nft {
    min-height: 50vh;
    max-height: 75vh;
    height: fit-content;
    width: 25vw;
    /* margin: auto; */
    margin-bottom: 30px;
    border: 1px solid var(--silver);
    background-color: var(--secondWhite);
    padding: 10px;
}

.nft img {
    width: 250px;
    height: 472px;
}

#nft-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 80%;
    flex-wrap: wrap;
    gap: 30px 40px;
    padding: 45px;
}

.nft-card {
    margin: auto;
    padding: 20px;
    height: 680px;
    width: 412px;
}

.nft-name {
    font-size: x-large;
    padding-top: 20px;
}

.hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

#loading {
    display: flex;
    width: inherit;
    height: inherit;
    justify-content: center;
    align-items: center;
}

.prop-table {
    width: 85%;
    margin: auto;
    padding: 10px;
}

.prop-table:hover {
    cursor: pointer;
}

.prop-table th {
    background-color: var(--secondWhite);
    border-right: 1px solid black;
}

.prop-table td {
    border-right: 1px solid black;
}

.prop-table tr {
    height: 3em;
    border-bottom: 1px solid black;
}

.prop-table tr td:first-child {
    background-color: var(--secondWhite);
}

.prop-header span {
    width: fit-content;
    height: fit-content;
    padding: 0 5px;
    margin: 0 5px;
    background-color: var(--secondWhite);
    font-weight: bold;
}

.last-value {
    text-align: center;
}

.mid-value {
    text-align: center;
}

.mid-value span {
    padding: 5px;
    margin: 0 5px;
    background-color: var(--secondWhite);
    border: 1px outset var(--black);
    font-size: small;
}

.last-value span {
    padding: 5px;
    margin: 0 5px;
    background-color: var(--secondWhite);
    border: 1px outset var(--black);
    font-size: small;
}

.header {
    padding: 5px;
}

.no-border {
    border: none;
}
