.enter-lottery-modal {
    font-family: 'Orbitron', sans-serif;
    font-size: medium;
}

.modal-content {
    background: transparent;
}

.modal-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--black);
    border-top: 5px solid var(--secondary);
}

.modal-header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--black);
    color: var(--primary);
    border-bottom: 5px solid var(--secondary);
}

.danger {
    color: var(--primary);
    font-weight: bold;
}

.enter-lottery {
    font-weight: 600;
    color: var(--black);
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    background-color: var(--secondary);
    border: 2px solid var(--black);
    padding: 0.375rem 0.75rem;
    transition: 0.3s ease;
    font-size: x-large;
    width: 350px;
}

.enter-lottery:hover {
    color: var(--black);
    cursor: pointer;
    background: var(--primary);
    box-shadow: 0 0 20px var(--secondary);
    transform: scale(1.1);
}

.modal-body {
    background-color: var(--lessBlack);
    color: var(--white);
    padding: 2rem;
    font-size: large;
}

.modal-body ol li {
    /* padding-left: 1rem; */
    list-style: none;
    padding: 1rem;
}

.modal-content {
    width: 120%;
}

.transaction-modal {
    margin: 50px auto;
    background-color: white;
    /* width: 50vw; */
}

.progress-bar {
    margin: 50px auto;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.circle {
    border: 1px solid black;
    border-radius: 50%;
    width: 2vw;
    height: 4vh;
    background-color: grey;
    opacity: 0.1;
}

.line {
    border: 1px solid black;
    border-left: none;
    border-right: none;
    width: 10vw;
    height: 0.75vh;
    margin-top: 1.5vh;
    opacity: 0.1;
    background-color: grey;
}

.filled-line {
    border: 1px solid black;
    border-left: none;
    border-right: none;
    width: 10vw;
    height: 0.75vh;
    margin-top: 1.5vh;
    background-color: black;
}

.check-mark {
    position: absolute;
    width: 2vw;
    height: 3vh;
    padding-right: 3px;
    top: 4px;
    z-index: 10px;
}

.filled-circle {
    position: inherit;
    border: 1px solid black;
    border-radius: 50%;
    width: 2vw;
    height: 4vh;
    background-color: black;
}

.fake-transaction {
    margin-top: 50px auto;
    /* padding: 10px; */
}
