.enter-lottery-modal {
    font-family: 'Orbitron', sans-serif;
    font-size: medium;
}

.modal-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--black);
    border-top: 5px solid var(--secondary);
}

.modal-header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--black);
    color: var(--primary);
    border-bottom: 5px solid var(--secondary);
}

.danger {
    color: var(--primary);
    font-weight: bold;
}

.enter-lottery {
    font-weight: 600;
    color: var(--black);
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    background-color: var(--secondary);
    border: 2px solid var(--black);
    padding: 0.375rem 0.75rem;
    transition: 0.3s ease;
    font-size: x-large;
    width: 350px;
}

.enter-lottery:hover {
    color: var(--black);
    cursor: pointer;
    background: var(--primary);
    box-shadow: 0 0 20px var(--secondary);
    transform: scale(1.1);
}

.modal-body {
    background-color: var(--lessBlack);
    color: var(--white);
    padding: 2rem;
    font-size: large;
}

.modal-body ol li {
    /* padding-left: 1rem; */
    list-style: none;
    padding: 1rem;
}

.modal-content {
    width: 120%;
}