.title-container {
    /* color: var(--white);
    /* background: radial-gradient(circle, var(--primary) 3%, var(--secondary) 74%); */
    /* background-color: var(--secondary); */
    /* margin: 18vh auto 200px auto;
    width: 101%;
    height: 40vh; */
}

.display-1 {
    margin-top: 40px;
    padding: 30px;
    font-weight: 800;
    font-size: 60px;
    color: var(--black);
    background-color: transparent;
}

.details {
    padding: 15px;
    font-weight: 500;
    font-size: large;
    color: var(--black);
}

.top-border {
    height: 20vh;
    width: 100%;
    background-image: url('../../../assets/dragonFA.svg');
    /* background-repeat: repeat-x; */
    /* animation: animatedBackgroundMoveRight .01s linear infinite; */
    overflow:hidden;
}

.bottom-border {
    height: 20vh;
    width: 100%;
    /* margin-top: 50px; */
    background-image: url('../../../assets/dragonFA.svg');
    /* background-repeat: repeat-x; */
    /* animation: animatedBackgroundMoveRight 1s linear infinite; */
    overflow:hidden;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

.static-top-border {
    height: 50px;
    width: 100%;
    background-image: url('../../../assets/dragonFA.svg');
    background-repeat: repeat-x;
}

.static-bottom-border {
    height: 50px;
    width: 100%;
    background-image: url('../../../assets/dragonFA.svg');
    background-repeat: repeat-x;
    overflow:hidden;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

.detail-box {
    border: 1px solid black;
    background-color: red;
}

@keyframes animatedBackgroundMoveRight {
    0% {
        background-position: 0% 0%
    }
    100% {
        background-position: 100% 0%
    }
}
@keyframes animatedBackgroundMoveLeft {
    0% {
        background-position: 100% 0%
    }
    100% {
        background-position: 0% 0%
    }
}
